@charset "utf-8";

body{
    background-color: aquamarine;
}
main{

    background-color: white;
    border-radius: 5%;
    padding: 20px;
  
    min-width: 280px;
    max-width: 800px;
    margin: auto;


}
img{
   width: 100%;
}
